.env
__pycache__/
/CompilerStructuresModule/__pycache__/
/CompilerStructuresModule/__init__.py
/CompilerStructuresModule/CompilerStructures/__pycache__/
/CompilerStructuresModule/CompilerStructures/__init__.py
lambda_function.zip
/GlobalCompiler/
globalCompiler.py
test.py